.navbar {
  background-color: rgba(243, 244, 246, 1);
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.nav-link {
  margin: 0px 10px;
  text-decoration: none;
  color: #272343;
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid rgba(39, 35, 67, 68%);
}

.make-active {
  color: rgb(0, 0, 255);
  border-bottom: 1px solid rgba(0, 0, 255, 68%);
}

.datatable-responsive-demo
  .p-datatable-responsive-demo
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media screen and (max-width: 40em) {
  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-thead
    > tr
    > th,
  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tfoot
    > tr
    > td {
    display: none !important;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td
    .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }

  .datatable-responsive-demo
    .p-datatable.p-datatable-responsive-demo
    .p-datatable-tbody
    > tr
    > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

.datatable-responsive-demo
  > div
  > div
  > div
  > div.p-datatable-scrollable-header
  > div {
  margin-right: 0px !important;
  margin-left: 0px;
}
